@import './vars'
    
.checkout
    &__wrapper
        flex-direction: column
    &__group
        display: flex
        width: 100%
        .input
            &:not(:last-child)
                margin-right: 30px
            width: 100%
    &__info
        width: 380px
    &__container
        display: flex
        flex-direction: row
    &__form
        flex-grow: 1
        margin-right: 40px