@import './vars'

body 
    font-family: 'sofia-pro', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a
    text-decoration: none

.wrapper
    margin: 0 auto
    width: 1200px
    display: flex

.close
    height: 16px
    width: 16px
    background-image: url("./img/icons/close.svg")

.shop-category
    &__wrapper
        flex-direction: column
    &__title
        text-align: center
        margin-top: 100px
    &__container
        display: flex
        justify-content: space-between
        margin-top: 30px 
    &__item img
        width: 230px
    &__tip
        text-align: center
        color: $head
        font-weight: 500
        font-size: 16px
        line-height: 22px
        margin-bottom: 2px
    &__products
        text-align: center
        margin-top: 5px
        color: $second
        font-weight: 400
        font-size: 14px
        line-height: 24px

.new-collection
    margin-top: 72px
    background-image: url("./img/productBack.png")
    &__container
        text-align: center
        padding: 200px 0
        width: 100%
        h1
            font-weight: 700
            font-size: 60px
            line-height: 84px
            color: $text-white
            margin-bottom: 0
        p
            font-weight: 400
            font-size: 16px
            line-height: 21px
            color: $text-white
            margin-bottom: 46px
        a
            width: 210px
            padding: 18px 68px 13px 68px
            background-color: $text-white
            color: $head
            font-weight: 500
            font-size: 14px
            line-height: 24px

.latest-prdoucts
    &__wrapper
        flex-direction: column
    &__title
        margin-top: 92px
        text-align: center
    &__container
        display: flex
        justify-content: space-between
        margin-top: 32px 
    &__image img
        width: 280px
    &__tip
        margin-top: 12px
        margin-bottom: 2px 
        color: $third
        font-weight: 400
        font-size: 14px
        line-height: 24px
    &__name
        margin-top: 0
        margin-bottom: 0 
        font-weight: 400
        font-size: 16px
        line-height: 21px
    &__cost
        margin-top: 6px
        font-weight: 400
        font-size: 16px
        line-height: 21px
        color: $second
    &____cost-title
        display: flex
    &__last-cost
        color: $second
        text-decoration-line: line-through
    &__new-cost
        color: $head

.latest-news
    &__wrapper
        flex-direction: column
    &__title
        margin-top: 52px
        text-align: center
    &__container
        display: flex
        justify-content: space-between
        margin-top: 34px
    &__item img
        width: 390px
        height: 240px
        margin-bottom: 0
    &__info
        margin-top: 5px
        margin-bottom: 4px
        font-weight: 400
        font-size: 14px
        line-height: 24px 
        color: $second
    &__short
        margin-top: 0
        font-weight: 400
        font-size: 18px
        line-height: 24px
        color: $head